@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@500&display=swap');
@import "tailwindcss";

html, body {
  background: linear-gradient(to bottom, #c7d2fe, #a5b4fc, #c8e7f6);
  font-family: 'Poppins', sans-serif;
}



* {
  box-sizing: border-box;
}

 .glass-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}